
body {
	font-size: 100px;
    font-family: 'Homemade Apple', cursive;
	color: #5B4730;
	background: url("moss2.jpg");
	background-size: 100%;
	background-position:top;
	background-repeat: vertical-align;
	display: inline;
	text-align: center;
}
img {
    opacity: 0.5;
}
#Wrapping
{
	border: 1px solid #cc3;
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}