
body {
	font-size: 60px;
    font-family: 'Homemade Apple', cursive;
	color: #c68c65;
	background: url("moss2.jpg");
	background-size: 100%;
	background-position:top;
	background-repeat: vertical-align;
	text-align: center;
}
img {
    opacity: 0.5;
}
#Wrapping
{
	opacity: 1;
    height: auto;
    width: auto;
}