
body {
	font-size: 40px;
    font-family: 'Homemade Apple', cursive;
	color: #5B4730;
	background: url("moss2.jpg");
	background-size: 100%;
	background-position:top;
	background-repeat: vertical-align;
	display: inline;
	text-align: center;
	height: 50%;
}
img {
    opacity: 0.5;
}
#Wrapping
{
	opacity: 1;
    height: auto;
    width: auto;
}